<!DOCTYPE html>
<html>
	<head lang="eng">
			<!--Styles Scripts -->
			<link href="css/bootstrap.min.css" rel="stylesheet" />
			<link href="css/app.css" rel="stylesheet" />


			<!--Library Scripts -->
			<script src="js/angular.js"> </script>
			<script src="app/app.js"></script>
			<script src="js/angular-resource.min.js"></script>

			<!-- Services -->

			<script src="common/services/common.services.js"></script>
			<script src="common/services/productResource.js"></script>

			<!-- Product Controlers -->
			<script src="app/products/productListCtrl.js"></script>
	</head>
<body ng-app="productManagement">
	<div class="panel panel-primary">
		<div class="panel-heading" style="font-size:large">Harjot Products</div>
	<div class="panel-body">
		<table class="table" ng-controller="ProductListCtrl as vm">
				<thead>
					<tr>
						<td>
							<button type="button" class="btn btn-primary" ng-click="vm.toggleImage()">{{vm.showImage ? "Hide" : "Show"}} Image</button></td>
						<td>Product</td>
						<td>Code</td>
						<td>Available</td>
						<td>Price</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in vm.products">
						<td>
							<image ng-if="vm.showImage"
										ng-src="{{ product.imageUrl }}"
											style="..."
										title="{{ product.productName }}">
						</td>
						<td>{{ product.productName }}</td>
						<td>{{ product.productCode }}</td>
						<td>{{ product.releaseDate }}</td>
						<td>{{ product.price | currency }}</td>
				</tbody>
			</table>
		</div>
	</div>

<!--Library Scripts -->
</body>

</html>